<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-3">
      <div class="pl-4 pr-4 pt-2 d-flex border btn btn-dark text-left align-items-center"
           routerLink="/descubrimiento-activos">
        <i class="fas fa-list-alt fa-3x"></i>
        <div class="d-flex align-items-center" style="margin-left: 20px; height: 64px !important; font-size: 20px !important;">
          Listado de activos
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mt-3">
      <div class="pl-4 pr-4 pt-2 d-flex border btn btn-dark text-left align-items-center"
           routerLink="/escaner-puertos">
        <i class="fa-solid fa-search fa-3x"></i>
        <div class="d-flex align-items-center" style="margin-left: 20px; height: 64px !important; font-size: 20px !important;">
          Escáner de puertos
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mt-3">
      <div class="pl-4 pr-4 pt-2 d-flex border btn btn-dark text-left align-items-center"
           routerLink="/escaner-sistema-operativo">
        <i class="fa-solid fa-computer fa-3x"></i>
        <div class="d-flex align-items-center" style="margin-left: 20px; height: 64px !important; font-size: 20px !important;">
          Escáner del Sistema Operativo
        </div>
      </div>
    </div>
  </div>
</div>
