<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.soft-control.net">
      <img src="assets/logo.png" alt="Logo de Soft Control Informática" style="height: 50px; width: auto;">
    </a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03"  [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/descubrimiento-activos">Listado de activos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/escaner-puertos">Escáner de puertos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/escaner-sistema-operativo">Escáner de sistema operativo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="min-height: 75vh !important;">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small pt-2" style="background: rgb(244,244,247);
                    background: linear-gradient(180deg, rgba(244,244,247,1) 0%, rgba(255,255,255,0.053658963585434205) 100%, rgba(0,212,255,1) 100%);
                    margin-top:0px;">
  <div class="container-fluid text-center pt-4">
    <!-- Content -->
    <div class="pb-4">
      <h3><b>Contacto</b></h3>
      <a href="mailto:zparellada@soft-control.net" class="deco-none text-dark"><i class="far fa-envelope"></i> zparellada@soft-control.net</a><br />
      <span><i class="fas fa-phone-alt"></i> 915076360 </span>
    </div>

    <div >
      <!-- Links -->
      <div class="pb-4">
        <h3><b>Archivos de Interés</b></h3>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/aviso-legal" class="deco-none text-dark">Aviso Legal</a>
          </li>
          <li>
            <a routerLink="/politica-privacidad" class="deco-none text-dark">Política de privacidad</a>
          </li>
          <li>
            <a href="https://www.soft-control.net" class="pointer deco-none text-primary">
              Desarrollado por Soft Control Informática
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
