/* You can add global styles to this file, and also import other style files */
/*@import '~@ng-select/ng-select/themes/material.theme.css';*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

h1 {
  font-size: 22px !important;
}
h2 {
  font-size: 20px !important;
}
h3 {
  font-size: 18px !important;
}
h4 {
  font-size: 16px !important;
}

.pointer {cursor: pointer;}
.help {cursor: help;}



/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-12px {
  font-size: 12px !important;
}

.error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #f86c6b
}
